<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de produtos</title>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
</head>
<body>
    <h2>Lista de Produtos</h2>
    <table>
        <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.code}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}" style="width: 40%"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{/products/{id}(id=${product.id})}">Ver</a>
                <a th:href="@{/products/{id}/edit(id=${product.id})}">Editar</a>
                <a th:href="@{/products/{id}/delete(id=${product.id})}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/products/new" style="margin-top: 20px">Novo Produto</a>
</body>
</html>