<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Produto</title>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
</head>
<body>
    <h2>Detalhes do Produto</h2>
    <form>
        <label for="code">Código:</label>
        <input type="text" id="code" name="code" th:value="${product.code}" readonly>
        <br>
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" th:value="${product.name}" readonly>
        <br>
        <label for="description">Descrição:</label>
        <textarea id="description" name="description" th:text="${product.description}" readonly></textarea>
        <br>
        <label for="price">Preço:</label>
        <input type="text" id="price" name="price" th:value="${product.price}" readonly>
    </form>
    <a th:href="@{/products/{id}/edit(id=${product.id})}">Editar</a>
    <a th:href="@{/products/{id}/delete(id=${product.id})}">Excluir</a>
    <a th:href="@{/products}">Voltar para Lista</a>
</body>
</html>
